﻿@model NZWalks.UI.Models.AddRegionViewModel

@{
}

<h1 class="mt-3">Add Region</h1>

<form method="post">
	<div class ="mt-3">
		<label class="form-label">Code</label>
		<input type="text" class="form-control" asp-for="Code"/>
	</div>
	<div class="mt-3">
		<label class="form-label">Name</label>
		<input type="text" class="form-control" asp-for="Name" />
	</div>
	<div class="mt-3">
		<label class="form-label">Image URL</label>
		<input type="text" class="form-control" asp-for="RegionImageUrl" />
	</div>

	<div class="mt-3">
		<button type="submit" action="btn-primary">Save</button>
	</div>
</form>
