﻿@model NZWalks.UI.Models.DTO.RegionDto

@{
}

<h1 class="mt-3">Edit Region</h1>

@if (Model is not null)
{
	<form method="post">
		<div class="mt-3">
			<label class="form-label">Id</label>
			<input type="text" class="form-control" asp-for="Id" readonly />
		</div>
		<div class="mt-3">
			<label class="form-label">Code</label>
			<input type="text" class="form-control" asp-for="Code" />
		</div>
		<div class="mt-3">
			<label class="form-label">Name</label>
			<input type="text" class="form-control" asp-for="Name" />
		</div>
		<div class="mt-3">
			<label class="form-label">Image URL</label>
			<input type="text" class="form-control" asp-for="RegionImageUrl" />
		</div>

		<div class="mt-3 d-flex justify-content-between">
			<button type="submit" class="btn-primary">Save</button>
			<button type="submit" asp-controller="Regions" asp-action="Delete" class="btn btn-danger">Delete</button>
		</div>
	</form>
}
